@import 'scss/global';

.map {
  height: 100vh;
  flex: 1;
}

.mapCtrl {
  margin-left: $spacing-md;
  margin-bottom: $spacing-md;
}
.geocoder {
  position: absolute;
  z-index: 1;
  left:calc(70% - 180px);
  top: 10px;
}
.olPopup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.olPopup:after, .olPopup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.olPopup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.olPopup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.olPopupCloser {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.olPopupCloser:after {
  content: "✖";
}
.contextTitle small {
  font-size: 12px;
  font-family: bold;
}
.contextTitle p {
  font-size: 12px;
  font-family: bold;
  }
.contextTitle {
font-size: 8px;
}
li.contextTitle:hover {
    cursor: initial;
    background-color: #fff !important;
    color: #333 !important;
}
.editIcon {
  background-image: url('../../assets/images/edit.png');
}
.removeIcon {
  background-image: url('../../assets/images/remove.png');
  
}
.contextIcon {
  background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 40px;
    text-indent: 15px;
    margin-left: 6px !important;
}